.App{
  padding: 20px;
}

input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.Spell-Section{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}


.Feint{
  background-image: url('/src/Images/Feint.png');
  background-size: 100%;
  width: 127px;
  height: 195px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.Curse{
  background-image: url('/src/Images/Curse.png');
  background-size: 100%;
  width: 127px;
  height: 195px;
  cursor: pointer;
}

.Hex{
  background-image: url('/src/Images/Hex.png');
  background-size: 100%;
  width: 127px;
  height: 195px;
  cursor: pointer;
}

.BalanceBlade{
  background-image: url('/src/Images/Balance_Blade.png');
  background-size: 100%;
  width: 127px;
  height: 195px;
  cursor: pointer;
}

.Weakness{
  background-image: url('/src/Images/Weakness.png');
  background-size: 100%;
  width: 127px;
  height: 195px;
  cursor: pointer;
}

@media (max-width: 600px) {
  /* Adjust the width and height as needed to make the image smaller */
  .Feint,
  .Curse,
  .Hex,
  .BalanceBlade {
    width: 64px;
    height: 98px;
  }
}

.Damage-Section{
  justify-content: space-between;
}