.App{
  padding: 20px;
}

input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.Spell-Section{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.Spell{
  background-size: 100%;
  width: 127px;
  height: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  aspect-ratio: 127 / 195;
}

#Feint{
  background-image: url('/src/Images/Feint.png');
}

#Curse{
  background-image: url('/src/Images/Curse.png');
}

#Hex{
  background-image: url('/src/Images/Hex.png');
}

#BalanceBlade{
  background-image: url('/src/Images/Balance_Blade.png');
}

#Weakness{
  background-image: url('/src/Images/Weakness.png');
}

#Blade{
  background-image: url('/src/Images/Deathblade.png');
}


.Damage-Section{
  display: flex;
}
